<div class="container">
  <div class="left">
    <img src="https://i.pinimg.com/736x/34/c8/d2/34c8d2bc3e49048268e0f28b56f741f0.jpg" alt="walpaper" />
  </div>

  <div class="right">
    <div class="card-form">
      <div class="head-form">
        <h2 class="title">Entrar na comunidade Naruto</h2>
        <h4>Aqui você pode ser você mesmo</h4>
      </div>
      <form>
        <div class="field-div">
          <label for="email">Login</label>
          <input type="email" id="email" name="email" />
        </div>
        <div class="field-div">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" />
        </div>

        <div class="btn-sign">
          <button>Entrar</button>
        </div>

        <a href="">Did you forget your password?</a>

        <div class="div-butn">
          <button class="google">google</button>
          <button class="facebook">facebook</button>
        </div>
      </form>
    </div>
  </div>
</div>
